
# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/
*.env

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
reset2main
media/
staticfiles/
*.sqlite3

# VS Code and IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Migrations (optional if you regenerate often)
**/migrations/__pycache__/
**/migrations/*.pyc
# **/migrations/*.py  <-- Uncomment to ignore all migration files

