<!-- templates/home.html -->
{% extends "pages/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}
<h1>Welcome to the Shore</h1>
{% block content %}
<bgcolor="black">
<table style="width:100%; background-color:black;">
    <tr>
      <td style="text-align:left;  background-color:black; vertical-align:middle;">
        <img src="{% static 'images/todd.jpg' %}" style="width: 100%; height: 300px;" alt="Todd McCaffrey smiling">
      </td>
      <td style="text-align:right; vertical-align:middle;">
        <img src="{% static 'images/FoxxeFreyLabs.png' %}" style="width: 100%; height: 300px;" alt="Foxxe Frey Labs">
      </td>
    </tr>
  </table>
  </bgcolor>
{% endblock content %} 
