<!-- templates/home.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}  <!-- for crispy forms --> 
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
<div class="container">
<!--
<h1 style="text-align:center">Welcome to Foxxe Frey Labs</h1>
-->
</div>
<div class="container">
      <img src="{% static 'images/FoxxeFreyLabs.png' %}" style="width: 20%; height: 20%;" alt="Foxxe Frey Labs">
      <h1>Foxxe Labs</h1>
      <p>User: {{ user }}</p>
      <p>Email: {{ user.email }}</p>
        
{% if user.is_authenticated %}
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  <button class="btn btn-danger" style="margin-left: 10px;"  type="submit">Log Out</button>
</form>
{% else %}  
<div class="d-flex flex-wrap gap-3 mt-3">
  <a class="btn btn-primary" href="{% provider_login_url 'google' method='oauth2' %}?prompt=select_account">Log in with Google</a>
  <a class="btn btn-outline-primary" href="{% url 'account_login' %}">Login</a>
  <a class="btn btn-outline-success" href="{% url 'account_signup' %}">Sign Up</a>
</div>
{% endif %}
</div>
{% endblock content %} 
